<?php

$GLOBALS['db_credentials'] = [
	'local' => [
		'host' => 'localhost',
		'username' => 'root',
		'password' => '{{db_password}}',
		'db_name' => 'temporary_tables',
		'port' => ini_get("mysqli.default_port"),
		'socket' => ini_get("mysqli.default_socket"),
	],
];
