[mysql]
[client]
default-character-set=utf8

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

tmpdir=/var/www/tmp
open_files_limit=31000
max_connections=5000
max_connect_errors=10

key_buffer_size=4096M
max_allowed_packet=512M
bulk_insert_buffer_size=1G

table_open_cache=400
connect_timeout=10

skip-name-resolve=1

query_cache_type=1
tmp_table_size=16777216
max_heap_table_size=16777216

back_log=50
thread_cache_size=0

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d
