<?php
/*
 * This is an example of the database credentials config. This file should be
 * copied in this same directory without the `.example` extension and with the
 * database host, username, and password populated
 */

$GLOBALS['db_credentials'] = [
	'local' => [
		'host'     => 'localhost',
		'username' => '',
		'password' => '',
		'db_name'  => 'temporary_tables',
		'port'     => ini_get("mysqli.default_port"),
		'socket'   => ini_get("mysqli.default_socket"),
	],
];
